<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nith.appteam.nimbus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/nimbuslogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyByIUspPrtzSN1TGWXi2zXn7zaeTGr6850" />
        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".Activity.TeamEventActivity" />
        <activity
            android:name=".Activity.NewsFeedActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Wall">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.WallIntroActivity" />
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".Activity.CoreTeamActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>

        <activity
            android:name=".Activity.Workshops"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.AppIntro"
            android:label="@string/title_activity_appintro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.UploadNewsFeedActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.TeamActivity"
            android:label="@string/title_activity_team"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".Activity.LeaderBoardActivity"
            android:parentActivityName=".Activity.QuizActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.WorkshopDetail"
            android:parentActivityName=".Activity.Workshops"

            />

        <service
            android:name=".Service.UploadService"
            android:exported="false" />

        <receiver android:name=".Service.UploadBroadCastReceiver">
            <intent-filter>
                <action android:name="start" />
                <action android:name="finish" />
                <action android:name="error" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://862148829278388:hJQPvA-kYbt8TRsp0bMSdqH65NE@appteamnith" />

        <activity android:name=".Activity.MapActivity" />
        <activity
            android:name=".Activity.QuizActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Quiz"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.GalleryDetailActivity" />
        <activity android:name=".Activity.GalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity android:name=".Notification.NotificationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Notification.Notification2"
            android:parentActivityName=".Notification.NotificationActivity" />
        <activity
            android:name=".Activity.ContributorsActivity"
            android:parentActivityName=".Activity.MainActivity" />
        <activity android:name=".Activity.QuizQuestionActivity"
            android:label="Quiz"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.QuizActivity" />
        </activity>
        <activity android:name=".Activity.QuizScoreActivity"
            android:label="Quiz"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.QuizActivity" />
        </activity>
        <activity android:name=".Activity.InformationActivity"
            android:label="Instruction"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.QuizActivity" />
        </activity>
        <activity
            android:name=".Activity.SponsorActivity"
            android:label="@string/title_activity_sponsor"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.CoreTeamEventActivity"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>


        <activity
            android:name=".Activity.WallIntroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Wall">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>

        <activity android:name=".Activity.SlidingImageDetailActivity"
            android:theme="@style/Theme.AppCompat"/>

    </application>

</manifest>