<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nith.appteam.nimbus">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">

        </activity>
        <activity
            android:name=".Activity.TeamActivity"
            android:label="@string/title_activity_team"
            android:parentActivityName=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nith.appteam.nimbus.Activity.MainActivity" />
        </activity>
        <activity android:name=".TeamEventActivity"/>
       
    </application>

</manifest>